--extra-index-url https://download.pytorch.org/whl/cu121
joblib==1.5.3
numpy==2.2.6
onnxruntime-gpu==1.18.1
opencv-python-headless==5.0.0.93
pandas==2.3.3
scipy==1.15.3
scikit-learn==1.7.2
torch==2.4.0
tqdm==4.65.2